name: Build

on:
  push:
    branches: ['**']
  workflow_dispatch:

jobs:
  build_rcnet:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install dependencies
        run: npm ci

      - name: Build dev extension
        run: npm run build:rcnet

      - uses: actions/upload-artifact@v3
        with:
          name: rcnet_connector-extension.${{ github.sha }}
          path: dist/

      - name: Build dev extension with dev tools
        run: npm run build:rcnet
        env:
          DEV_TOOLS: true

      - uses: actions/upload-artifact@v3
        with:
          name: rcnet_connector-extension-with-dev-tools.${{ github.sha }}
          path: dist/

  build_dev:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install dependencies
        run: npm ci

      - name: Build dev extension
        run: npm run build:development

      - uses: actions/upload-artifact@v3
        with:
          name: development_connector-extension.${{ github.sha }}
          path: dist/

      - name: Build dev extension with dev tools
        run: npm run build:development
        env:
          DEV_TOOLS: true

      - uses: actions/upload-artifact@v3
        with:
          name: development_connector-extension-with-dev-tools.${{ github.sha }}
          path: dist/

